<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.PersonMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.demo.entity.Person">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        name,
        age,
        address,
        birthday,
        remark,
money
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="person.id">
        INSERT INTO person (
            id,
            name,
            age,
            address,
            birthday,
            remark,
            money
        ) VALUES (
            #{person.id,jdbcType=BIGINT},
            #{person.name,jdbcType=VARCHAR},
            #{person.age,jdbcType=INTEGER},
            #{person.address,jdbcType=VARCHAR},
            #{person.birthday,jdbcType=TIMESTAMP},
            #{person.remark,jdbcType=VARCHAR},
            #{person.money,jdbcType=DECIMAL}
        )
</insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="person.id">
        INSERT INTO person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="person.id!=null"> id,</if>
            <if test="person.name!=null"> name,</if>
            <if test="person.age!=null"> age,</if>
            <if test="person.address!=null"> address,</if>
            <if test="person.birthday!=null"> birthday,</if>
            <if test="person.remark!=null"> remark,</if>
            <if test="person.money!=null"> money</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="person.id!=null"> #{person.id,jdbcType=BIGINT},</if>
            <if test="person.name!=null"> #{person.name,jdbcType=VARCHAR},</if>
            <if test="person.age!=null"> #{person.age,jdbcType=INTEGER},</if>
            <if test="person.address!=null"> #{person.address,jdbcType=VARCHAR},</if>
            <if test="person.birthday!=null"> #{person.birthday,jdbcType=TIMESTAMP},</if>
            <if test="person.remark!=null"> #{person.remark,jdbcType=VARCHAR},</if>
            <if test="person.money!=null"> #{person.money,jdbcType=DECIMAL}</if>
        </trim>
</insert>

    <!--auto generated Code-->
    <insert id="insertList">        INSERT INTO person(
        <include refid="Base_Column_List"/>
        )VALUES
        <foreach collection="persons" item="person" index="index" separator=",">
            (
            #{person.id,jdbcType=BIGINT},
            #{person.name,jdbcType=VARCHAR},
            #{person.age,jdbcType=INTEGER},
            #{person.address,jdbcType=VARCHAR},
            #{person.birthday,jdbcType=TIMESTAMP},
            #{person.remark,jdbcType=VARCHAR},
            #{person.money,jdbcType=DECIMAL}
            )
        </foreach>
</insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE person
        <set>
                <if test="person.id != null"> id = #{person.id,jdbcType=BIGINT},</if>
                <if test="person.name != null"> name = #{person.name,jdbcType=VARCHAR},</if>
                <if test="person.age != null"> age = #{person.age,jdbcType=INTEGER},</if>
                <if test="person.address != null"> address = #{person.address,jdbcType=VARCHAR},</if>
                <if test="person.birthday != null"> birthday = #{person.birthday,jdbcType=TIMESTAMP},</if>
                <if test="person.remark != null"> remark = #{person.remark,jdbcType=VARCHAR},</if>
                <if test="person.money != null"> money = #{person.money,jdbcType=DECIMAL}</if>
        </set>
		WHERE id = #{person.id,jdbcType=BIGINT}
    </update>

<!--auto generated by codehelper on 2018-05-22 17:25:06-->
	<select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from person
        where id=#{id,jdbcType=BIGINT}
    </select>

<!--auto generated by codehelper on 2018-05-22 17:26:31-->
	<select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from person
    </select>

<!--auto generated by codehelper on 2018-05-22 17:39:35-->
	<select id="findByIdAndNameAndAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from person
        where 1=1
        <if test="id!=null">
            and id=#{id,jdbcType=BIGINT}
        </if>
        <if test="name!=null">
            and name=#{name,jdbcType=VARCHAR}
        </if>
        <if test="address!=null">
            and address=#{address,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>

